<%- include('../cabecalho') %>
<%- include('../menu') %>
<%- include('../menuAdministração')%>

 <div class="container">

   <h1>Alterar profissional</h1>

   <form method="post" class="form-horizontal" action="/admin/profissionais/alterar/<%= profissional._id %>">
     <%- include('profissionalform') %>       

     <div class="form-group">
       <div class="col-sm-10 col-sm-offset-2">
         <button type="submit" class="btn btn-primary">Alterar</button>
         <a class="btn btn-default" href="/admin/profissionais">Cancelar</a>
       </div>
     </div>
   </form>

 </div>

<%- include('../rodape') %>

<script>
$(document).ready(function(e){
  // (Botão de agenda) ---------------------------------------------------------------    
  $('.btn-agenda').click(function(e){
    e.preventDefault();

    var dia = $(this).attr('data-dia');

    if( $(this).attr('data-ativo') ) {
      $(this).removeAttr('data-ativo');
      $('#agenda'+dia).removeAttr('checked');
    } else {
      $(this).attr('data-ativo', true);
      $('#agenda'+dia).attr('checked', true);
    };
  });

  // (Botão de administrador) ---------------------------------------------------------------    
  $('.btn-admin').click(function(e){
    e.preventDefault();

    if( $(this).text() == 'Sim' ) {
      $(this).attr('data-ativo', true);
      $('.btn-admin').eq(1).removeAttr('data-ativo');
      $('#adminSim').trigger('click');
    } else {
      $(this).attr('data-ativo', true);
      $('.btn-admin').eq(0).removeAttr('data-ativo');
      $('#adminNao').trigger('click');
    };
  });    

  // (Botão Novo Atendimento) --------------------------------------------------------
  $('button[type="submit"]').click(function(e){
    var invalido = false;

    if ($('#nome').val() == '') {
      $('#nome').attr('data-erro', true);
      setTimeout(function(){ $('#nome').removeAttr('data-erro'); }, 4000);
      invalido = true;
    };

    if ($('#email').val() == '') {
      $('#email').attr('data-erro', true);
      setTimeout(function(){ $('#email').removeAttr('data-erro'); }, 4000);
      invalido = true;
    };

    if ($('#telefone').val() == '') {
      $('#telefone').attr('data-erro', true);
      setTimeout(function(){ $('#telefone').removeAttr('data-erro'); }, 4000);
      invalido = true;
    };

    if ($('#senha').val() == '') {
      $('#senha').attr('data-erro', true);
      setTimeout(function(){ $('#senha').removeAttr('data-erro'); }, 4000);
      invalido = true;
    };

    if (invalido) {        
      e.preventDefault();

      $('#caixaAlerta').empty();
      
      $('#caixaAlerta').append('<div class="alert alert-danger alert-dismissible" role="alert">');
      $('#caixaAlerta .alert').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
      $('#caixaAlerta .alert').append('<strong>Atenção! </strong>Informe todos os campos obrigatórios.');      
  
      $('#caixaAlerta .alert').delay( 4000 ).slideUp( 400 );
    };
    
  })
});
</script>