<div class="form-group">
  <label for="nome" class="col-sm-2 control-label">Nome</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="<%= profissional.nome %>" required>
  </div>
</div>

<div class="form-group">
  <label for="email" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%= profissional.email %>" required>
  </div>
</div>

<div class="form-group">
  <label for="telefone" class="col-sm-2 control-label">Telefone</label>
  <div class="col-sm-10">
    <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="(61) 9999-9999" value="<%= profissional.telefone %>" required>
  </div>
</div>

<div class="form-group">
  <label for="funcao" class="col-sm-2 control-label">Função</label>
  <div class="col-sm-10">
    <select class="form-control" id="funcao" name="funcao">
      <option value="Médico">Médico</option>
      <option value="Recepcionista" <%= (profissional.funcao == 'Recepcionista')?'selected':'' %>>Recepcionista</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="senha" class="col-sm-2 control-label">Senha</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" value="<%= profissional.senha %>" required>
  </div>
</div>

<div class="form-group">
  <label for="agenda" class="col-sm-2 control-label">Administrador</label>
  <div class="col-sm-10">
    <button class="btn btn-default btn-ctrl-tamanho btn-admin" data-ativo="<%= ( profissional.admin)?'true':'' %>">Sim</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-admin" data-ativo="<%= (!profissional.admin)?'true':'' %>">Não</button>
  </div>
  <input type="radio" id="adminSim" name="admin" <%= ( profissional.admin)?'checked':'' %> value="true" hidden>
  <input type="radio" id="adminNao" name="admin" <%= (!profissional.admin)?'checked':'' %> value="false" hidden>
</div>

<%
  var agenda = [];

  for (let i = 0; i < profissional.agenda.length; i++) {
    var posicao = profissional.agenda[i].dia;
    agenda[posicao] = true;    
  }; 
%>

<div class="form-group">
  <label for="agenda" class="col-sm-2 control-label">Agenda</label>
  <div class="col-sm-10">
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[0])?'true':'' %>" data-dia="0">Domingo</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[1])?'true':'' %>" data-dia="1">Segunda</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[2])?'true':'' %>" data-dia="2">Terça</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[3])?'true':'' %>" data-dia="3">Quarta</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[4])?'true':'' %>" data-dia="4">Quinta</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[5])?'true':'' %>" data-dia="5">Sexta</button>
    <button class="btn btn-default btn-ctrl-tamanho btn-agenda" data-ativo="<%= (agenda[6])?'true':'' %>" data-dia="6">Sábado</button>
  </div>
  <input type="checkbox" id="agenda0" name="agenda" <%= (agenda[0])?'checked':'' %> value=0 hidden>
  <input type="checkbox" id="agenda1" name="agenda" <%= (agenda[1])?'checked':'' %> value=1 hidden>
  <input type="checkbox" id="agenda2" name="agenda" <%= (agenda[2])?'checked':'' %> value=2 hidden>
  <input type="checkbox" id="agenda3" name="agenda" <%= (agenda[3])?'checked':'' %> value=3 hidden>
  <input type="checkbox" id="agenda4" name="agenda" <%= (agenda[4])?'checked':'' %> value=4 hidden>
  <input type="checkbox" id="agenda5" name="agenda" <%= (agenda[5])?'checked':'' %> value=5 hidden>
  <input type="checkbox" id="agenda6" name="agenda" <%= (agenda[6])?'checked':'' %> value=6 hidden>
</div>




