<%- include('../cabecalho') %>
<%- include('../menu') %>
<%- include('../menuAdministração')%>

  <div class="container">

    <fieldset >
      <legend>Atendimento</legend>

      <fieldset >
        <legend>      
          Paciente
          <button class="btn btn-primary desgruda" id="psqPaciente" data-toggle="modal" data-target="#modalPesquisaPaciente"><span class="glyphicon glyphicon-search"></span></button>
        </legend>
        
        <div class="form-group col-sm-4">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" readonly>
        </div>
        <div class="form-group col-sm-4">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" readonly>
        </div>
        <div class="form-group col-sm-4">
          <label for="telefone">Telefone</label>
          <input type="text" class="form-control" id="telefone" readonly>
        </div>
        <input type="hidden" id="pacienteId">
        <input type="hidden" id="dataAtendimento">
        <input type="hidden" id="horaAtendimento">

        <div class="form-group col-xs-12">
          <p class="text-right" id="inicioAtendimento" hidden>Início do atendimento <span id="textoDataAtendimento">19/02/2019</span> às <span id="textoHoraAtendimento">08:36</span></p>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          Prontuário
          <div class="btn-group" role="group" aria-label="...">
            <button id="atendimentoNovo" type="button" class="btn btn-success desgruda">
              Novo <span class="glyphicon glyphicon-file"></span>
            </button>

            <div class="btn-group" role="group">
              <button id="atendimentoHistorico" type="button" class="btn btn-warning desgruda dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Histórico do Paciente
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="caret"></span>
              </button>
              <ul id="lista-consultas" class="dropdown-menu"></ul>
            </div>
          </div>
        </legend>
        
        <input type="hidden" id="atendimentoId">
        <div class="form-group col-xs-12">
          <label for="queixa">Queixa</label>
          <textarea class="form-control" rows="3" id="queixa"></textarea>
        </div>
        <div class="form-group col-xs-12">
          <label for="diagnostico">Diagnóstico</label>
          <textarea class="form-control" rows="5" id="diagnostico"></textarea>
        </div>

        <div class="form-group col-md-6">
          <fieldset class="caixa-protuario">
            <legend>
              <div class="row">
                <div class="col-xs-4">Medicamentos</div>
                <div class="input-group col-xs-7 desgruda">
                  <input type="text" class="form-control" id="medicamento">
                  <span class="input-group-btn">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modalPesquisaMedicamento"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
              </div>
            </legend>
            <table id="tabMedicamentos" class="table">
              <thead>
                <tr class="row">
                  <th class="col-xs-5">Nome</th>
                  <th class="col-xs-7" colspan="2">Apresentação</th>
                </tr>
              </thead>
              <tbody id="corpoTabMedicamentos"></tbody>
            </table>
          </fieldset>
        </div>

        <div class="form-group col-md-6">
          <fieldset class="caixa-protuario">
            <legend>
              <div class="row">
                <div class="col-xs-4">Exames</div>
                <div class="input-group col-xs-7   desgruda">
                  <input type="text" class="form-control" id="exame">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="novoExame"><span class="glyphicon glyphicon-saved"></span></button>
                  </span>
                </div>
              </div>
            </legend>
            <table id="tabExames" class="table table-hover">
              <thead>
                <tr class="row">
                  <th class="col-xs-5">Exame</th>
                  <th class="col-xs-3">Exame Recebido</th>
                  <th class="col-xs-4" colspan="2">Entregue ao Paciente</th>
                </tr>
              </thead>
              <tbody id="corpoTabExames"></tbody>
            </table>
          </fieldset>
        </div>
      </fieldset>
    
      
        <div class="caixaAlerta col-sm-12 col-lg-8"></div>
        <div class="col-xs-4 col-sm-3 col-lg-2">
          <button class="btn btn-primary" id="salvaAtendimento">Salvar atendimento <span class="glyphicon glyphicon-floppy-disk"></span></button>
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-2">
          <button class="btn btn-danger" id="excluirAtendimento">Excluir atendimento <span class="glyphicon glyphicon-trash"></span></button>
        </div>
      
      <br/>
    </fieldset>

  </div>

<!-- linha oculta para inclusão de exame    -->  
  <table hidden>
    <tbody id="linha-exame" >
      <tr class="row">
        <td class="nome-exame col-xs-5"></td>
        <td class="col-xs-3">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-xs recebido active">
              <input type="radio" name="recebido" class="recebido" autocomplete="off" checked> Não
            </label>
            <label class="btn btn-primary btn-xs recebido exameRecebido">
              <input type="radio" name="recebido" class="recebido" autocomplete="off"> Sim
            </label>
          </div>
        </td>
        <td class="col-xs-3">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-xs entregue active">
              <input type="radio" name="entregue" class="entregue" autocomplete="off" checked> Não
            </label>
            <label class="btn btn-primary btn-xs entregue exameEntregue">
              <input type="radio" name="entregue" class="entregue" autocomplete="off"> Sim
            </label>
          </div>
        </td>
        <td class="col-xs-1"><button class="btn btn-danger btn-xs exclui-exame"><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
    </tbody>
  </table>

<!-- linha oculta de histórico de paciente -->
  <ul id="lista-consultas-oculta" hidden>
    <li><a class="historico" href="#">Dropdown link</a></li>
  </ul>

<!-- Modal de lista de Pacientes -->    
<%- include('../pacientes/pesquisaPaciente') %>  

<!-- Modal de lista de Medicamentos -->    
<%- include('pesquisaMedicamento') %> 

<%- include('../rodape') %>

<script>
$(document).ready(function(){
// (Botão Novo Atendimento) --------------------------------------------------------
  $('#atendimentoNovo').click(function(){
    var data = $('#textoDataAtendimento').text();
    var hora = $('#textoHoraAtendimento').text();

    $('#dataAtendimento').val(data);
    $('#horaAtendimento').val(hora);

    $('#atendimentoId').val('');
    $('#queixa').val('');
    $('#diagnostico').val('');
    $('#corpoTabExames tr').remove();
    $('#corpoTabMedicamentos tr').remove();

    buscaHistoricoPaciente();
  });

// (Botão Carrega Medicamentos) ----------------------------------------------------
  $('#carregaMedicamentos').click(function(){
    var dados = $('#resultado').text();
  
    var request = $.ajax({
      url: 'medicamentos/api/carregamedicamentos',
      method: 'POST',
      data: {
        medicamentos: dados
      },
      dataType: 'json'
    });
    request.done(function(dados){
      console.log(dados.mensagem);
    });
  });

  $('#excluiMedicamentos').click(function(){  
    var request = $.ajax({
      url: 'medicamentos/api/excluitodos',
      method: 'DELETE',
      data: {},
      dataType: 'json'
    });
    request.done(function(dados){
      console.log(dados.mensagem);
    });
  });
// (Carrega horário de início de atendimento) click seleção do paciente ------------
  $('#nome').on('mudouNome', function() {
    var request = $.ajax({
      url: 'atendimento/api/horario',
      method: 'GET',
      data: {},
      dataType: 'json'
    });
    request.done(function(dados){
      $('#dataAtendimento').val(dados.data);
      $('#horaAtendimento').val(dados.hora);
      $('#textoDataAtendimento').text(dados.data);
      $('#textoHoraAtendimento').text(dados.hora);
      $('#inicioAtendimento').removeAttr('hidden');

      $('#atendimentoId').val('');
      $('#queixa').val('');
      $('#diagnostico').val('');
      $('#corpoTabExames tr').remove();
      $('#corpoTabMedicamentos tr').remove();

      buscaHistoricoPaciente();
    });
  });

  function buscaHistoricoPaciente() {
    var request = $.ajax({
      url: 'atendimento/api/historico/'+$('#pacienteId').val()+'/'+$('#nome').val(),
      method: 'GET',      
      dataType: 'json'
    });
    request.done(function(dados){
      $('#lista-consultas li').remove();

      dados.atendimentos.forEach(function(dado){
        $('#lista-consultas-oculta .historico').text(dado.data +' - '+ dado.hora +' - Dr. '+ dado.medico.nome);
        $('#lista-consultas-oculta .historico').attr('data-data', dado.data);
        $('#lista-consultas-oculta .historico').attr('data-hora', dado.hora);
        $('#lista-consultas-oculta .historico').attr('data-id', dado._id);
  
        var linha = $('#lista-consultas-oculta').html();
        $('#lista-consultas').append(linha);
      });

      trataSelecaoHistorico();
    });
  }

  function trataSelecaoHistorico() {
    $('#lista-consultas a').click(function(e){
      e.preventDefault();
      
      var consultaId = $(this).attr('data-id');

      var request = $.ajax({
        url: 'atendimento/api/historico/'+consultaId,
        method: 'GET',
        data: {},
        dataType: 'json'
      });
      request.done(function(dados){
        $('#atendimentoId').val(dados.atendimento._id);
        $('#queixa').val(dados.atendimento.queixa);
        $('#diagnostico').val(dados.atendimento.diagnostico);
        $('#dataAtendimento').val(dados.atendimento.data);
        $('#horaAtendimento').val(dados.atendimento.hora);
        $('#corpoTabExames tr').remove();
        $('#corpoTabMedicamentos tr').remove();              
        $('#exame').val('');
        $('#medicamento').val('');

        //lista de medicamentos
        dados.atendimento.medicamentos.forEach(function(m){
          $('#linha-medicamento .medicamento-nome').text(m.nome);
          $('#linha-medicamento .medicamento-apresentacao').text(m.apresentacao);
  
          $('#linha-medicamento .medicamento-info').attr('data-id',m._id);
          $('#linha-medicamento .medicamento-info').attr('data-nome',m.nome);
          $('#linha-medicamento .medicamento-info').attr('data-laboratorio',m.laboratorio);
          $('#linha-medicamento .medicamento-info').attr('data-princ-ativo',m.pricipioAtivo);
          $('#linha-medicamento .medicamento-info').attr('data-apresentacao',m.apresentacao);
          $('#linha-medicamento .medicamento-info').attr('data-classe-terapeutica',m.classeTerapeutica);
          
          var linha = $('#linha-medicamento').html();
          $('#corpoTabMedicamentos').prepend(linha);
          
          $('#corpoTabMedicamentos .medicamento-info').eq(0).click(function(){           
            $('#detMedicamento .nome').text(m.nome);
            $('#detMedicamento .laboratorio').text(m.laboratorio);
            $('#detMedicamento .pricAtivo').text(m.pricipioAtivo);
            $('#detMedicamento .apresentacao').text(m.apresentacao);
            $('#detMedicamento .classeTerapeutica').text(m.classeTerapeutica);
            
            var detalhes = $('#detMedicamento').html();
            
            $(this).attr('data-content', detalhes);
            $(this).popover('toggle');
          });
        });

        $('#corpoTabMedicamentos .medicamento-info').trigger('click');
        $('#corpoTabMedicamentos .medicamento-info').trigger('click');
        $('#corpoTabMedicamentos .medicamento-info').trigger('click');

        $('#corpoTabMedicamentos .medicamento-exclui').click(function(){
          $('#corpoTabMedicamentos tr').has(this).remove();
        });

        //lista de exames        
        dados.atendimento.exames.forEach(function(e){        
          $('#linha-exame .nome-exame').html(e.nome);
          
          if(e.exameRecebido) {
            $('#linha-exame input[name=recebido]').eq(1).trigger('click');
          } else {
            $('#linha-exame input[name=recebido]').eq(0).trigger('click');
          }

          if (e.exameEntreguePaciente) {
            $('#linha-exame input[name=entregue]').eq(1).trigger('click');
          } else {
            $('#linha-exame input[name=entregue]').eq(0).trigger('click');
          };
          
          var linha = $('#linha-exame').html();
          $('#corpoTabExames').prepend(linha);    
        });
  
        $('#corpoTabExames .exclui-exame').click(function(){
          $('#corpoTabExames tr').has(this).remove();
        });
      });
        
    });
  };
  
// (Novo Exame) trata clique para inclusão de novo exame ---------------------------
  $('#novoExame').click(function(){
    var exame = $('#exame').val();
    $('#linha-exame .nome-exame').html(exame);

    $('#linha-exame input[name=recebido]').eq(0).trigger('click');
    $('#linha-exame input[name=entregue]').eq(0).trigger('click');
    
    var linha = $('#linha-exame').html();
    $('#corpoTabExames').prepend(linha);
    
    $('#exame').val('');

    $('#corpoTabExames .exclui-exame').click(function(){
      $('#corpoTabExames tr').has(this).remove();
    })
  })

// (Informado Nome Medicamento) trasfere tratamento para modal ---------------------
  $('#medicamento').keyup(function(e){

    //Números - 48 a 57
    //Letras  - 65 a 90
    if(!((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90))) {
      return null;
    }
    
    //posicionar cursor após conclusão da transição da modal - (shown)
    $('#modalPesquisaMedicamento').on('shown.bs.modal', function () {
      $('#psq-med-nome').focus();
      $('#psq-med-nome').trigger('keyup');
    })

    var medicamento = $(this).val();
    $('#modalPesquisaMedicamento').modal('show');
    $('#psq-med-nome').val(medicamento);
  })

// (Excluir atendimento) -----------------------------------------------------------
  $('#excluirAtendimento').click(function(){
    var atendimentoId = $('#atendimentoId').val();

    if ( atendimentoId == '') {

      var dados = {mensagem: {tipo: 4, erro: 'Atenção!', texto: 'Não existe atendimento para excluir.'}};
      trataAlerta(dados);
      
    } else {

      var request = $.ajax({
        url: 'atendimento/api/exclui/'+atendimentoId,
        method: 'GET',
        data: {},
        dataType: 'json'
      });
      request.done(function(dados){
        trataAlerta(dados);
      });

      $('#atendimentoNovo').trigger('click');

    }
  })

// (Grava atendimento) -------------------------------------------------------------
  $('#salvaAtendimento').click(function(){
    var atendimentoId    = $('#atendimentoId').val();
    var pacienteId       = $('#pacienteId').val();
    var pacienteNome     = $('#nome').val();
    var data             = $('#dataAtendimento').val();
    var hora             = $('#horaAtendimento').val();
    var queixa           = $('#queixa').val();
    var diagnostico      = $('#diagnostico').val();
    var medicamentos     = [];
    var exames           = [];

    $('#corpoTabMedicamentos .medicamento-info').each(function(index){
      medicamentos[index] = {
        id:                $(this).attr('data-id'),
        nome:              $(this).attr('data-nome'),
        laboratorio:       $(this).attr('data-laboratorio'),
        pricipioAtivo:     $(this).attr('data-princ-ativo'),
        apresentacao:      $(this).attr('data-apresentacao'),
        classeTerapeutica: $(this).attr('data-classe-terapeutica'),
        genericos: []
      }
    });

    $('#corpoTabExames tr').each(function(index){
      exames[index] = {
        nome:                  $(this).find('.nome-exame').text(),
        exameRecebido:         $(this).find('.exameRecebido').hasClass('active'),
        exameEntreguePaciente: $(this).find('.exameEntregue').hasClass('active')
      }
    });

    var request = $.ajax({
      url: 'atendimento/api/gravaatendimento/'+atendimentoId,
      method: 'POST',
      data: {        
        pacienteId: pacienteId,
        pacienteNome: pacienteNome,
        data: data,
        hora: hora,
        queixa: queixa,
        diagnostico: diagnostico,
        medicamentos: medicamentos,
        exames: exames
      },
      dataType: 'json'
    });
    request.done(function(dados){
      if (dados.atendimento._id) {
        $('#atendimentoId').val(dados.atendimento._id);
      };

      trataAlerta(dados);
    });

  });

  function trataAlerta(dados) {
    var tipoAlerta = '';

    if (dados.mensagem.tipo == 2) {
      tipoAlerta = 'alert-success';
    } else {
      tipoAlerta = 'alert-danger';
    }

    $('.caixaAlerta').append('<div class="alert '+tipoAlerta+' alert-dismissible" role="alert">');
    $('.caixaAlerta .alert').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
    $('.caixaAlerta .alert').append('<strong>'+dados.mensagem.erro+'</strong> '+dados.mensagem.texto);      

    $('.caixaAlerta .alert').delay( 4000 ).slideUp( 400 );
  };

})
</script>